* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-block {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#palette-container {
  display: flex;
  margin-bottom: 1rem;

}

.color {
  width: 70px;
  height: 70px;
  border: solid 1px black;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
  display: inline-block;

}

#title {
  text-align: center;
}

#pixel-board {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 200px;

}

.pixel {
  cursor: pointer;
  border: solid 1px black;
  background-color: white;
  height: 40px;
  width: 40px;

}
